<!--Con {{}} estamos usando interpolación (Binding) para usar las propiedades declaradas en el componente.ts-->
{{titulo}}
<br>
{{titulo2}}
<br>
{{suma_edades}}
<p>Este es el resultado de sumar las edades de los usuarios en línea: {{edad_usuario1 + edad_usuario2}}</p>

<h1>Ejercicios:</h1>
<h3>Ejercicio 1:</h3>
  <p>Precio 1: {{precio1}}</p>
  <p>Precio 2: {{precio2}}</p>
  <p>Suma de los precios: {{precio1 + precio2}}</p>
<br>

<h3>Ejercicio 2:</h3>
  <p>Los principales frameworks de JS son {{frameworks.length}}:</p>
  <ul>
    <li> {{frameworks[0]}} </li>
    <li> {{frameworks[1]}} </li>
    <li> {{frameworks[2]}} </li>
  </ul>

<br>

<h3>Ejercicio 3:</h3>
  <p>Mis grupos favoritos son {{grupos.length}}:</p>
  <ul>
    <li> {{grupos[0]}}</li>
    <li> {{grupos[1]}} </li>
    <li> {{grupos[2]}}</li>
    <li> {{grupos[3]}}</li>
    <li> {{grupos[4]}}</li>
    <li> {{grupos[5]}}</li>
  </ul>

<br>



