
<br>

<h3>Ejercicio 4:</h3>

<table>
  <caption><strong>Planeta Objetivo</strong></caption>
  <tr>
    <td class="titulo">{{titulo1}}</td>
    <td class="titulo1">{{datoNombre}}</td>
    <td class="titulo1">{{datoDistancia}}</td>
    <td class="titulo1">{{datoDuracion}}</td>
    <td class="titulo1">{{datoAnio}}</td>
    <td class="titulo1"> {{datoAnioPartida}}</td>
    <td class="titulo1">{{datoAnioLlegada}}</td>
  </tr>
  <tr>
    <td class="titulo">{{titulo2}}</td>
    <td>{{nombrePlaneta}}</td>
    <td>{{distancia}} km</td>
    <td>{{duracion}} Años</td>
    <td>{{distanciaAnio}} km/año</td>
    <td>{{anioPartida}}</td>
    <td>{{anioLlegada}}</td>
  </tr>
</table>
