<h3>Ejercicio 5:</h3>
<h4>Datos de las Ventas</h4>

<table>
  <caption> <strong>Extracto de Ventas</strong></caption>
  <tr>
    <td class="titulo">{{titulo}}</td>
    <td class="titulo1">{{dato1}}</td>
    <td class="titulo1">{{dato2}}</td>
    <td class="titulo1">{{dato3}}</td>
    <td class="titulo1">{{dato4}}</td>
    <td class="titulo1">{{dato5}}</td>
    <td class="titulo1">{{dato6}}</td>
    <td class="titulo1">{{dato7}}</td>
  </tr>
  <tr>
    <td class="titulo">{{titulo1}}</td>
    <td>{{nombreProducto}}</td>
    <td>{{precioUnitario}} €</td>
    <td>{{unidadesVendidas}}</td>
    <td>{{iva}} %</td>
    <td>{{subtotal}} €</td>
    <td>{{ivaAplicado}} €</td>
    <td>{{subtotal + ivaAplicado}} €</td>
  </tr>
</table>
